.title h3 {
    color: #14145D;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
  }

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.titleBox input {
  padding: 10px;
}