@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');


body {
  margin: 0 !important;
  font-family: 'League Spartan', sans-serif !important;
}
.subCatregory {
  margin: 10px 0 14px;
}
.taalInput div {
  width: 50px!important;
}
.taalInput {
  width: 50px!important;
  max-width: 62px !important;
  margin-bottom: 7px;
}
.tableBoxed label {
  display: block;
  margin-bottom: 4px;
}
.tableBoxed input {
  padding: 12px;
  border-radius: 13px;
}
.tableBoxed .ant-select-selector {
  box-shadow: none !important;
  border-radius: 12px!important;

}
.optionTag .ant-col.ant-col-md-5 {
  position: relative;
  top: 18px;
}
.planName div {
  width: 100%;
}
.optionTag .searchCountry {
  width: 96% !important;
}
.loaderFile svg {
  width: 120px!important;
  height: 120px !important;
}
.optionTag label {
  font-size: 15px !important;
  font-weight: 500 !important;
  display: block;
  margin-bottom: 8px;
}
.optionTag h3 {
position: relative;
top: 14px;
}
input[type="time"] {
  position: relative;
}
.clock {
  position: absolute;
  right: 12px;
  top: 31px;
}
input[type="time"]::-webkit-calendar-picker-indicator {
  display: block;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background: transparent;
}
.leftBar {
  margin: 0 5px!important;
  padding-left: 46px!important;
}
.leftBar.active {
  margin: 0 5px!important;
  padding-left: 46px!important;
}
.contentDiv {
  padding: 11px 0px 11px 20px;
  display: flex;
  align-items: center;
  position: relative;
  color: #fff;
}
.dropArrow {
  margin: 0!important;
  width: 22px;
  height: 18px;
}
.contentDiv svg {
  margin-right: 10px;
}
.ant-menu-item:not(.ant-menu-item-selected):active {
  background-color: transparent !important;
}
.ant-layout-sider-children {
  background: linear-gradient(180deg, #14145D 0%, #000 100%)!important;
}
.searchCountry .ant-select-selector {
  border-radius: 12px!important;
  box-shadow: 0px 0px 1px #ccc;
}
.timepicker {
  margin-bottom: 14px;
}
.timepicker .ant-picker {
  width: 100% !important;
  border-radius: 10px;
  padding: 0 10px !important;
}
.timepicker .ant-picker input {
  margin-bottom: 0 !important;
  height: 44px !important;
}
.planName {
  display: flex;
  align-items: center;
}
.subCategory .ant-select-selector {
  box-shadow: 0px 10px 30px 0px rgba(41, 17, 80, 0.05);
  border-radius: 12px!important;
}
.ant-upload-list {
  display: flex;
  justify-content: flex-end;
  flex-flow: row-reverse;
  margin-bottom: 7px;
}
.planName label {
  display: flex !important;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 10px;
}

.ant-table-content::-webkit-scrollbar {
  width: 4px !important;
  height: 7px !important;
}

/* Track */
.ant-table-content::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */
.ant-table-content::-webkit-scrollbar-thumb {
  background: #0285AC; 
}

/* Handle on hover */
.ant-table-content::-webkit-scrollbar-thumb:hover {
  background: #0285AC; 
}
.ant-layout-sider li span a {
  font-size: 14px!important;
}
.settings {
  padding-left: 17px!important;
}
/* .ant-layout-sider li {
  padding-left: 17px!important;
} */
.ql-toolbar.ql-snow {
  border-top-right-radius: 7px !important;
  border-top-left-radius: 7px !important;
}
.ql-container.ql-snow {
  border-bottom-right-radius: 7px !important;
  border-bottom-left-radius: 7px !important;
}
.loaderFile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
aside.ant-layout-sider {
  box-shadow: 0px 0px 10px #ccc;
  width: 250px!important;
  max-width: 250px!important;
  z-index: 99;
}
.btn.submit {
  background: #14145D !important;
  color: #fff!important;
  border-radius: 5px !important;
  border: 1px solid #14145D !important;
  width: 144px;
  height: 48px;
  text-align: center !important;
  font-size: 18px;
  box-shadow: 0px 0px 6px #000;
}
*{
  font-family: 'League Spartan', sans-serif;
}
.ant-layout {
  background: #F4F8FB !important;
}
.tableBox h3 {
  border-bottom: 1px solid #ccc;
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 10px;
  padding-bottom: 8px;
  /* margin-bottom: 20px; */
}
.quill {
  min-height: 216px !important;
  max-height: 216px !important;
}

.ql-container.ql-snow {
  height: auto;
  min-height: 172px !important;
}
.ql-editor.ql-blank {
  min-height: 170px !important;
  height: auto !important;
}
.planCheckbox {
  display: flex !important;
  margin-bottom: 0px;
  position: relative;
  bottom: 10px;
}
.tableBox label {
  display: block;
  font-weight: 500;
  padding-bottom: 4px;
}
.tableBox input {
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 10px 30px 0px rgba(41, 17, 80, 0.05);
  height: 44px;
  margin-bottom: 18px;
}
.tableBox thead tr th {
  background: #0285AC17!important;
}
.tableBox {
  margin-bottom: 20px;
  padding: 14px;
  background: #FFF;
  border-radius: 10px;
  box-shadow: 0px 10px 30px 0px rgba(41, 17, 80, 0.05);
}
.ant-menu-item.active {
  background: #DEE1D3!important;
  font-family: 'League Spartan', sans-serif !important;
  box-shadow: 0px 2px 4px 0px #8A92A64D !important;
  border-radius: 4px!important;
  
}
.activeClass {
  background: #0036742b;
  border: 1px solid #003674;
}
.activeClass span {
  color: #003674 !important;
}
.activeClass svg path {
  stroke: #003674 !important;
}

.ant-menu-item.active  a {
  color: #0285AC!important;
}
.ant-menu-item.active svg path {
  fill: #0285AC !important;
}
.ant-menu-item span {
  color: #fff !important;
}

.ant-layout-sider-children {
  background:#14145D !important;
}
.ant-menu {
  background: #14145D !important;
}
.ant-menu-item svg path {
  fill: #fff!important;
}

.ant-steps-item-container>.ant-steps-item-tail::after {
  background-color: #D1D5DB !important;
}

h1 {
  margin: 0;
}
aside {
  height: 100vh !important;
  flex: 0 0 238px !important;
  max-width: 240px !important ;
}
.ant-card-body {
  padding: 0 !important;
}
th.ant-table-cell {
  font-weight: 500 !important;
  white-space: nowrap !important;
  font-size: 16px;
}
.btnDelete {
  background: #0285AC;
  color: #fff;
  border-radius: 3px;
  font-weight: 500;
  letter-spacing: 1px;
}

.ant-select {
  width: 100% !important;
}
.ant-select-selector {
  height: 44px !important;
  padding-top: 5px !important;
  font-family: 'League Spartan', sans-serif;
  border-radius: 5px !important;
  /* box-shadow: 0px 0px 5px #ccc; */
}
.formCheckbox {
  padding: 10px 0 !important;
}
.formCheckbox .ant-checkbox-input {
  width: 20px !important;
  height: 20px !important;
}
.formCheckbox .ant-checkbox-inner {
  width: 20px !important;
  height: 20px !important;
}
.formCheckbox span {
  font-weight: 500;
  font-family: 'League Spartan', sans-serif;
}
.settings svg {
  width: 21px !important;
  height: 20px !important;
}
.dateSelect {
  box-shadow: 0px 0px 2px #ccc;
  width: 240px;
  background: #fff;
  padding: 10px 14px;
  margin-bottom: 14px;
  display: block;
  border-radius: 6px;
  cursor: pointer;
}
.dateField {
  position: relative;
  width: 240px;
}
.dateField svg {
  position: absolute;
  top: 9px;
  right: 10px;
}
.rdrDateRangePickerWrapper {
  position: absolute !important;
  z-index: 9 !important;
  background: #fff;
  padding: 10px;
  box-shadow: 0px 0px 5px #ccc;
  border-radius: 4px;
}
.fileAttach .ant-upload.ant-upload-select {
  width: 100%;
}
.fileAttach button {
  width: 100%;
  text-align: left;
  height: 44px;
  /* box-shadow: 0px 0px 5px #ccc; */
}

.error {
  color: red;
  font-size: 0.875rem; /* Adjust size as needed */
  margin-top: 0.25rem; /* Adjust top margin as needed */
  margin-bottom: 0.75rem; /* Adjust bottom margin as needed */
}