.title h3 {
    color: #14145D;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0px;
  }
  .title button {
    border-radius: 5px;
    height: 38px;
    background: #14145D;
    border: 0;
    font-size: 16px !important;
    color: #fff !important;
  }
  .title svg {
    margin-right: 6px;
    position: relative;
    top: 3px;
  }
  .title {
    margin-bottom: 20px;
  }
  .rowTag {
    width: 100%;
  }
  .rowTag button {
    border-radius: 5px;
      height: 38px;
      background: #14145d;
      border: 0;
      font-size: 16px!important;
      color: #fff!important;
  }


.titleBox {
  margin-bottom: 20px;
}
.appendRow {
  padding-bottom: 27px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 22px;
}

.taalInput  {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
}
.taalInput input {
  width: 50px!important;
  border-radius: 6px !important;
    background: #FFF;
    /* box-shadow: 0px 0px 5px #ccc !important; */
  margin-bottom: 0 !important;

}
.taalBox {
  width: 100%;
  margin-bottom: 18px;

}
.fileName {
  margin-bottom: 0px;
}
.fileName input {
  margin-bottom: 0 !important;
  /* box-shadow: 0px 0px 5px #ccc !important; */
  border-radius: 6px !important;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}